body {
  background-color: #171717;
  margin: 0;
}

/* This box class is purely used for explaining how the bootstrap grid system works. */
.box {
  min-height: 50px;
  font-size: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.transition-fade-scroll {
  opacity: 0;
  animation-name: fadeIn;
  animation-timeline: view();
  animation-range: entry 0% contain 50%;
  animation-fill-mode: both;
}

